# Database config
DB_HOST=database_sever_name_default_localhost
DB_USER=username
DB_PASSWORD=password
DB_NAME=database_name
JWT_SECRET=secretekey


#Default Values for local testing
# DB_HOST=localhost
# DB_USER=test
# DB_PASSWORD=testpassword
# DB_NAME=testdb
# JWT_SECRET=jwtsecret